apiVersion: v1
kind: Secret
metadata:
  name: {{ include "migration.fullname" . }}-secret
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "migration.labels" . | nindent 4 }}
type: Opaque
stringData:
  DATABASE_URL: {{ .Values.database.url }}
  MIGRATION_DIR: {{ .Values.migration.dir }}
  PG_HOST: {{ .Values.database.host }}
  PG_PORT: "{{ .Values.database.port }}"
  PG_ADMIN_USER: {{ .Values.database.admin.user }}
  PG_ADMIN_PASSWORD: {{ .Values.database.admin.password }}
  DB_USER: {{ .Values.database.user }}
  DB_PASSWORD: {{ .Values.database.password }}
  DB_NAME: {{ .Values.database.name }}
  MIGRATION_KEY: {{ .Values.migration.apiKey | quote }}

---
apiVersion: batch/v1
kind: Job
metadata:
  name: "{{ include "migration.fullname" . }}-{{ .Release.Revision }}"
  labels: {{ include "migration.labels" . | nindent 4 }}
  annotations:
    "helm.sh/hook-delete-policy": before-hook-creation,hook-succeeded
spec:
  backoffLimit: 3
  template:
    spec:
      restartPolicy: Never
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.migration.image.repository }}:{{ .Values.migration.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.migration.image.pullPolicy }}
          env:
            - name: DATABASE_URL
              valueFrom:
                secretKeyRef:
                  name: {{ include "migration.fullname" . }}-secret
                  key: DATABASE_URL
            - name: MIGRATION_DIR
              valueFrom:
                secretKeyRef:
                  name: {{ include "migration.fullname" . }}-secret
                  key: MIGRATION_DIR
            - name: PG_HOST
              valueFrom:
                secretKeyRef:
                  name: {{ include "migration.fullname" . }}-secret
                  key: PG_HOST
            - name: PG_PORT
              valueFrom:
                secretKeyRef:
                  name: {{ include "migration.fullname" . }}-secret
                  key: PG_PORT
            - name: PG_ADMIN_USER
              valueFrom:
                secretKeyRef:
                  name: {{ include "migration.fullname" . }}-secret
                  key: PG_ADMIN_USER
            - name: PG_ADMIN_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ include "migration.fullname" . }}-secret
                  key: PG_ADMIN_PASSWORD
            - name: DB_USER
              valueFrom:
                secretKeyRef:
                  name: {{ include "migration.fullname" . }}-secret
                  key: DB_USER
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ include "migration.fullname" . }}-secret
                  key: DB_PASSWORD
            - name: DB_NAME
              valueFrom:
                secretKeyRef:
                  name: {{ include "migration.fullname" . }}-secret
                  key: DB_NAME
            - name: MIGRATION_KEY
              valueFrom:
                secretKeyRef:
                  name: {{ include "migration.fullname" . }}-secret
                  key: MIGRATION_KEY

          command:
            - sh
            - -c
            - |
              set -e

              echo "Waiting for PostgreSQL..."
              until PGPASSWORD=$PG_ADMIN_PASSWORD pg_isready -h $PG_HOST -p $PG_PORT -U $PG_ADMIN_USER; do
                sleep 2
              done
              echo "PostgreSQL is ready."

              # Check & create role
              EXISTS_USER=$(PGPASSWORD=$PG_ADMIN_PASSWORD psql -h $PG_HOST -p $PG_PORT -U $PG_ADMIN_USER -tAc "SELECT 1 FROM pg_roles WHERE rolname='$DB_USER'")
              if [ "$EXISTS_USER" != "1" ]; then
                echo "Creating role $DB_USER"
                PGPASSWORD=$PG_ADMIN_PASSWORD psql -h $PG_HOST -p $PG_PORT -U $PG_ADMIN_USER -c "CREATE ROLE $DB_USER WITH LOGIN PASSWORD '$DB_PASSWORD';"
              else
                echo "Role already exists"
              fi

              # Check & create database
              EXISTS_DB=$(PGPASSWORD=$PG_ADMIN_PASSWORD psql -h $PG_HOST -p $PG_PORT -U $PG_ADMIN_USER -tAc "SELECT 1 FROM pg_database WHERE datname='$DB_NAME'")
              if [ "$EXISTS_DB" != "1" ]; then
                echo "Creating database $DB_NAME"
                PGPASSWORD=$PG_ADMIN_PASSWORD psql -h $PG_HOST -p $PG_PORT -U $PG_ADMIN_USER -c \
                  "CREATE DATABASE $DB_NAME WITH OWNER $DB_USER ENCODING 'UTF8' LC_COLLATE='vi_VN.utf8' LC_CTYPE='vi_VN.utf8' TEMPLATE template0;"
              else
                echo "Database already exists"
              fi

              echo "Granting privileges"
              PGPASSWORD=$PG_ADMIN_PASSWORD psql -h $PG_HOST -p $PG_PORT -U $PG_ADMIN_USER -d $DB_NAME -c \
                "GRANT ALL PRIVILEGES ON DATABASE $DB_NAME TO $DB_USER;"

              echo "Granting schema privileges"
              PGPASSWORD=$PG_ADMIN_PASSWORD psql -h $PG_HOST -p $PG_PORT -U $PG_ADMIN_USER -d $DB_NAME -c \
                "GRANT USAGE ON SCHEMA public TO $DB_USER;
                GRANT CREATE ON SCHEMA public TO $DB_USER;"

              echo "Fixing schema owner"
              PGPASSWORD=$PG_ADMIN_PASSWORD psql -h $PG_HOST -p $PG_PORT -U $PG_ADMIN_USER -d $DB_NAME -c \
                "ALTER SCHEMA public OWNER TO $DB_USER;"

              echo "Extracting migrations..."
              if [ -z "$MIGRATION_KEY" ]; then
                echo "No migrations key provided, skipping migration"
                exit 1
              fi

              age -d -i <(echo "$MIGRATION_KEY") $MIGRATION_DIR/migrations.tar.age | tar -C / -xf -

              echo "Starting migration..."
              if [ "{{ .Values.migration.direction }}" = "down" ]; then
                goose -dir $MIGRATION_DIR postgres "$DATABASE_URL" down;
              elif [ "{{ .Values.migration.direction }}" = "down-to" ]; then
                goose -dir $MIGRATION_DIR postgres "$DATABASE_URL" down-to {{ .Values.migration.downTo }};
              else
                goose -dir $MIGRATION_DIR postgres "$DATABASE_URL" up;
              fi
